<aside class="sidebar">
  <div class="user-box">
    <div class="avatar">{{ user.name.charAt(0) }}</div>
    <div>
      <div class="name">{{ user.name }}</div>
      <div class="org">{{ user.org }}</div>
    </div>
  </div>

  <div class="sidebar-scroll">
    <div class="section" *ngFor="let section of sections">
      <div class="section-title">{{ section.title }}</div>

      <ul class="menu">
        <li *ngFor="let item of section.items">
          <a
            *ngIf="!item.children"
            class="menu-item"
            [routerLink]="item.route"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="label">{{ item.label }}</span>
          </a>

          <div *ngIf="item.children" class="menu-item" (click)="toggle(item)">
            <span class="label">{{ item.label }}</span>
            <span class="arrow" [class.open]="item.expanded">^</span>
          </div>

          <ul class="submenu" *ngIf="item.children && item.expanded">
            <li *ngFor="let child of item.children">
              <a
                [routerLink]="child.route"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                {{ child.label }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</aside>
