<aside class="sidebar">

  <!-- USER INFO (FIXED) -->
  <div class="user-box">
    <div class="avatar">{{ user.name.charAt(0) }}</div>
    <div>
      <div class="name">{{ user.name }}</div>
      <div class="org">{{ user.org }}</div>
    </div>
  </div>

  <!-- SCROLLABLE AREA -->
  <div class="sidebar-scroll">

    <!-- DYNAMIC SECTIONS -->
    <div class="section" *ngFor="let section of sections">

      <div class="section-title">
        {{ section.title }}
      </div>

      <ul class="menu">
        <li *ngFor="let item of section.items">

          <!-- NORMAL ITEM -->
          <div class="menu-item"
               *ngIf="!item.children"
               [routerLink]="item.route"
               routerLinkActive="active">
            <img *ngIf="item.icon" [src]="item.icon" class="icon" alt="{{ item.label }}" />
            <span class="label">{{ item.label }}</span>
          </div>

          <!-- COLLAPSIBLE ITEM -->
          <div class="menu-item"
               *ngIf="item.children"
               (click)="toggle(item)">
            <img *ngIf="item.icon" [src]="item.icon" class="icon" alt="{{ item.label }}" />
            <span class="label">{{ item.label }}</span>
          </div>

          <!-- SUB MENU -->
          <ul class="submenu" *ngIf="item.children && item.expanded">
            <li *ngFor="let child of item.children"
                [routerLink]="child.route"
                routerLinkActive="active">
              {{ child.label }}
            </li>
          </ul>

        </li>
      </ul>

    </div>

  </div>

</aside>
