<div class='d-flex justify-content-center align-items-center vh-100 loginPage'>
    <div class='p-3 rounded w-25 border loginForm'>
        <h2>Login Page</h2>
        <form onSubmit=formSubmit>
            <div class='mb-3'>
                <label htmlFor="email"><strong>Email:</strong></label>
                <input type="email" name='email' placeholder='Enter Email' class='form-control rounded-0'/>
            </div>
            <div class='mb-3'> 
                <label htmlFor="password"><strong>Password:</strong></label>
                <input type="password" name='password' placeholder='Enter Password' class='form-control rounded-0'/>
            </div>
            <button class='btn btn-success w-100 rounded-0 mb-2' (click)="loginSubmit()">Log in</button>
            <div class='mb-1'> 
                <input type="checkbox" name="tick" id="tick" class='me-2'/>
                <label htmlFor="password">You are Agree with terms & conditions</label>
            </div>
        </form>
    </div>
</div>