.app-layout {
  display: flex;
  min-height: 100vh;
  background: #f8fafc;
}

.app-layout.no-sidebar .app-content {
  width: 100%;
}

app-side-bar {
  flex: 0 0 260px;
}

.app-content {
  flex: 1;
  min-height: 100vh;
}
